<% if signed_in? %>

<!-- 	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div> -->

	<h3>[Here's where we can include overview content]</h3>
	<h5><%= link_to "View Profile", current_user %> for custom info.</h5>
	<h5><%= link_to "Edit Settings", edit_user_path(current_user) %> to change entered info.</h5>

<% else %>

	<div class="center hero-uint">
	  <h1>DebtHacker <br><small>Understand your repayment options.</small></h1>
	  <%= link_to "Get Started", signup_path, class: "btn btn-large btn-primary" %>
	</div>

<% end %>