<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :institution_type, "Describe the school you attended" %>
			<%= f.select :institution_type, [
				['Public/State','public'],
				['For-Profit','for-profit'],
				['Non-Profit','non-profit']
			] %>

			<%= f.label :has_graduated, "Have you graduated?" %>
			<%= f.select :has_graduated, [['I\'ve graduated',true],['I have not graduated',false]] %>

			<%= f.label :has_full_time_employment, "Are you working full-time?" %>
			<%= f.select :has_full_time_employment, [['I work full-time',true],['I do not work full-time',false]] %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>

		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">change</a>
	</div>
</div>