<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= simple_form_for(@user, html: {class: 'form-vertical' }) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.input :name, label: "Name" %>
			<%= f.input :email, placeholder: "user@example.com" %>
			<%= f.input :password, label: "Password" %>
			<%= f.input :password_confirmation, label: "Confirm Password", required: true %>
			<hr>
			<%= render :partial => 'shared/user_attributes_fields', :locals=>{:f => f} %>
			<hr>
			<%= f.button :submit, value: "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
