<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<%if @user.has_defaulted? %>
			<h3>Has defaulted.</h3>
		<% else %>
			<h3>Has never defaulted.</h3>
		<% end %>
		<h3>Institution Type: <%= @user.institution_type %></h3>
		<h3>Has Graduated: <%= @user.has_graduated %></h3>
		<h3>Has Full-Time Employment: <%= @user.has_full_time_employment %></h3>
		<h3>Flags: <%= @user.flags %></h3>
	</div>
</div>
<% if @user.flags == 0 %>
	<%= render 'user_green' %>
<% end %>

<% if @user.flags == 1 %>
	<%= render 'user_yellow' %>
<% end %>

<% if @user.flags > 1 %>
	<%= render 'user_red' %>
<% end %>